{% extends "pagina_blog/base.html" %}

{% block subtitulo %}Acerca de mi{% endblock subtitulo %}

{% block contenido %}

<h1>Mateo Bueno</h1>

<img src="C:\Users\Windows 10\Documents\MATE\Programacion\foto1" width="200" height="200" style="float: right; margin: 0 0 1em 2em"/>

<p>
    Hablando un poco sobre mi, es el primer curso que hago sobre programacion, ya conocia un poco de HTML y CSS, pero nunca profundize en ellos.<br>
    Quiero estudiar Ingeniera en Computacion y este año hare el ingreso para dicha carrera y asi poder formarme de manera mas completa.
    Es la primera pagina web que hago y seguramente no sea la ultima. <br>

    Siempre me gusto la computacion y todo lo que tenga que ver con ella, el echo de saber que puedo crear cosas de esta forma cada dia me sorprende mas 
    y no dudo de lo que quiero ejercer. <br>
    
    Por ultimo en el pie de pagina,les dejo mis redes sociales para que puedan conocer un poco mas de mi :)

</p>

<p>
   Como proyecto final del curso de Python en CoderHouse, presento este blog de noticias donde las personas o diarios pueden publicar 
   la informacion de todos los dias, creando un usuario y aprovechando todas las herramientas que se les otorgan. 
</p>


{% endblock contenido %}