{% extends "pagina_blog/base.html" %}

{% block subtitulo %}Publicar Noticias{% endblock subtitulo %}

{% block contenido %}
    <form action="{% url 'publicar_noticias' %}" method="post">
        {% csrf_token %}
        <p>Titulo:</p>
        <input type="text" name="titulo" spellcheck="true">
        <p>Subtitulo:</p>
        <input type="text" name="subtitulo" spellcheck="true">
        <p>Fecha de publicacion:</p>
        <input type="date" name="fecha">
        <p>Nombre del autor/a:</p>
        <input type="text" name="autor" spellcheck="false">
        <p>Cuerpo de la noticia:</p>
        <textarea name="cuerpo" cols="100" rows="20" placeholder="Escribe aquí el texto..." spellcheck="true"></textarea>
        <br>
        <input type="submit" name="Enviar">
    </form>        
{% endblock contenido %}